@charset "utf-8";
nav {
  margin: 10px 0 0 270px;
  background-color: transparent;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav .parent:hover{
  background: #ebf9ff;
}
nav .parent:hover .link {
  color: #0077cc!important;
}

nav .children li {
  background: #ebf9ff;
}


nav .children {
  border: 1px solid #c8d0d7;
}

nav .third-level {
  border: unset;
}

nav .third-level li {
  border-left: 1px solid #c8d0d7;
  border-right: 1px solid #c8d0d7;
}

nav .third-level li:first-child {
  border-top: 1px solid #c8d0d7
}

nav .third-level li:last-child {
  border-bottom: 1px solid #c8d0d7;
}

nav .third-level {
  top: 59px;
}
nav .third-level a {
  font-weight: normal;
}
nav ul li {
  display: inline-block;
  transition: all .2s linear;
  /*background: #ebf9ff;*/
}

nav a {
  display: block;
  padding: 0 10px;
  color: #fff;
  font-size: 16px;
  line-height: 2;
  text-decoration: none;
  font-weight: bold;
}

nav .children a {
  font-size: 14px;
  color: #555555;
}

nav .children a:hover {
  background-color: #7fa9fd;
  color: white;
  transition: all .2s linear;
}

/* Hide Dropdowns by Default */
nav ul ul {
  display: none;
  position: absolute;
  top: 32px;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display: inherit;
  transition: all .2s linear;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
  width: 100px;
  float: none;
  display: list-item;
  position: relative;
  transition: .2s linear;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 100px;
  transition: .2s linear;
}
.has-child {
  position: absolute;
  right: 4px;
  top: 8px;
  width: 8px;
  vertical-align: middle;
}
li > a:only-child:after {
  content: "";
}
.menu-active {
  background: #9ecbff;
}
